#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}
button {
  padding: 8px 16px;
  cursor: pointer;
}
.error {
  color: red;
}
.list {
  list-style: none;
  padding: 0;
}
.item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.item a {
  font-weight: bold;
  text-decoration: none;
}
.item span {
  font-size: 14px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.title {
  font-weight: bold;
  font-size: 18px;
  color: rgb(133, 202, 230);
}
